.errores{
    background-color: rgb(245, 90, 90) !important;
    color: white !important;
}

.card-title{
    max-height: 35px;
    overflow: hidden;
}

.card-title{
    font-size: 22px;
}

.botones-acciones{
    display: flex;
    justify-content: space-evenly;
}